<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Minnit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <%= link_to "Minnit", root_path %> |
      <%= link_to "Forums", forums_path %>
      <% if current_member %>
        | <%= current_member.display_name %>
        | <%= button_to "Log out", logout_path, method: :delete %>
      <% else %>
        | <%= link_to "Log in", login_path %>
        | <%= link_to "Sign up", signup_path %>
      <% end %>
    </nav>

    <% if notice %>
      <p><strong><%= notice %></strong></p>
    <% end %>
    <% if alert %>
      <p><strong><%= alert %></strong></p>
    <% end %>

    <%= yield %>
  </body>
</html>
